body,
html {
  height: 200%;

}

body {
  position: relative;
  display: flex;
}

p {
  margin: 0 0 20px;
}

.sidebar-menu{
  overflow: visible;
}

.test {
  position: sticky;
  position: -webkit-sticky;
  top: 0; /* required */
  background-color:red;
}


.wrap {
  margin: 0 auto;
  width: 100%;
/* 
  Be careful with height set on
  the parent of a sticky element.
  Uncomment to see issue.
*/
/*   height: 40%; */
/* 
  overflow cannot be used on
  parents of position: sticky, 
  uncomment to demonstrate the issue.
*/
/*   overflow: hidden; */
/*   overflow-y: scroll; */
}

.aside {
  background: #eee;
  float: left;

  padding: 1em;
  /* position sticky */
  position: sticky;
  top: 3em;
}

