body,
html {
    height: 100%;
    font-family: Roboto;
}

p {
    margin: 0 0 20px;
}

aside {
  background: #a5c727;
  float: left;
  padding: 1em;
  /* position sticky */
  position: sticky;
  top: 3em;
  display: inline-block;
}
aside > h3 > a:hover {
  text-decoration: none;
  color:#000;
}
aside > h3 > a{
  color: #FFF;
  font-size: 1.1em;
  font-weight: 0;
}

aside > ul {
  list-style-type: none;
}

.list-group-item {
  background-color: none;
  border: none;
}



.navbar-brand>img{
  padding: 15px 20px;
  background-color: #FFF;
}

div.navbar-collapse.collapse > ul {
  margin-top:30px;
  margin-left:10px;
}

div.navbar-collapse.collapse > ul > li > a{
  color: #FFF;
  font-weight: 700;
  font-size: 1.3em;
}

div.navbar-collapse.collapse > ul > li > a:hover{
  color:#DDD;
}


.navbar-collapse.collapse > ul > li:nth-child(5) > a{
border-bottom: 4px solid #a5c727;
}

.toggle-sidebar-btn{
  display: none;
} 

.navbar{
  min-height: 100px;
  border-radius: 0px;
}


.main-content {
    /* height:200%; */
}

.sidebar-menu {
    overflow: visible;
}


.wrap {
    margin: 0 auto;
    width: 100%;
    /* 
  Be careful with height set on
  the parent of a sticky element.
  Uncomment to see issue.
*/
    /*   height: 40%; */
    /* 
  overflow cannot be used on
  parents of position: sticky, 
  uncomment to demonstrate the issue.
*/
    /*   overflow: hidden; */
    /*   overflow-y: scroll; */
}

.footer-nav{
  background-color: #EEE;
  padding: 20px;
  font-size: 1.1em;

}
.footer-nav ul li{
    padding: 6px 0;
  }
.footer-nav a{
color: #000;
text-decoration: none;
}

.footer-nav h4{
  font-size: 1.4em;
}


@media (max-width: 570px) { 
  /* aside {
    display: none;
  } */

  .toggle-sidebar-btn{
    display: grid;
  } 
}